@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Plus Jakarta Sans', sans-serif; 
}
/* this needs to here so that when the 
new element is created,it get's properties from here */
.images img{
    border-radius: 8px;
    transition: 0.3s;
    max-height:180px;
    max-width:540px; /* technically you don't need this in normal environment, but prevent's stretching when zoomed out a lot*/
    width:78%; /* to define size before screen size exceeds image's actual size*/
}
@media (min-width:480px){
    .images img{
        max-height:360px;
    } 
}